*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 /* rule link */
 a {
     text-decoration: none;
     color: white;
 }


/* header START */
    header{
        background-color: #ff6900;
    }

    nav{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 80%;
        margin: 0 auto;
        height: 100px;
    }

    nav ul {
        display: flex;
        justify-content: space-around;
        list-style-type: none;
        gap: 20px;
    }

    #logo{
        max-width: 50%;
        text-align: center;
    }

    .logo{
        text-align: center;
    }
/* header END */

/* main START */
main{
    width: 80%;
    margin: 50px auto;
}
.flex-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.product{
    width: 32%;
    min-height: 200px;
    margin-bottom: 20px;
    background-color: bisque;
}
/* main END */

/* footer START */
footer{
    background-color: #1a1a1a;
    color: white;
}

.footer-container{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 150px;
}
/* footer END */